@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
@import '../../variables.scss';

.ContentBox{
    font-size: 15px;
    border: solid 2px $primary-color;
    border-radius: 5px;
    margin: 10px;
    
}

.subtitle{
margin-top: 40px;
color: $primary-color;
}

.has-text-left {
    margin-top: 10px;
}
.fa-times {
    padding-left: 20px;
    color: $danger;
}

.ProToPayment {
    border: none;
    background-color: $primary-color;
    color: #FFC144;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}